%tr
  / %td= link_to function.name, function 
  %td= function.name
  
  / *** TODO: uncomment delete link when ready to wire up ajax return 
  / %td= #  link_to "Delete", 
  / function_path(function), 
  / :data => { :confirm => "Are you sure?" }, 
  / :method => :delete, 
  / :class => 'btn btn-mini'

