.role-edit span {
  font-size: 80%;
  font-variant: small-caps; 
  font-weight: bold; 
  cursor: pointer;
  display: none;
  float: right;
  border: 1px solid black; 
  padding: 0px 3px; 
  background-color: #ccc;
}
